@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif !important;
  background-color: #141414 !important;
}

img {
  width: 100%;
  height: auto;
}

.main-padding {
  padding: 80px 0px;
}

.custom-container {
  margin: 0 5vw;
}

.main_heading {
  color: white;
  font-size: 1.85vw;
  font-weight: 600;
}

.main_sub_heading {
  color: #999999;
  font-size: 1vw;
}

.d_btn {
  background: #e50000;
  color: white;
  padding: 7px 25px;
  border-radius: 7px;
  border: 1px solid transparent;
  font-size: 0.95vw;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 0.3s ease-in;
}

.d_btn:hover {
  background: transparent;
  color: white;
  border: 1px solid #e50000;
}

.d_btn i {
  font-size: 24px;
}

/* grey background section */
.grey_secbg {
  background: #1a1a1a;
  border: 1px solid #262626;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .main_heading {
    font-size: 24px;
  }

  .main_sub_heading {
    font-size: 14px;
    margin: 0;
  }

  .main-padding {
    padding: 40px 0;
  }

  .d_btn {
    padding: 8px 20px;
    border-radius: 6px;
    font-size: 12px;
  }

  .d_btn i {
    font-size: 16px;
  }

  .innerpage-header {
    margin-bottom: 10px !important;
  }

  .grey_secbg {
    padding: 20px;
  }
}
